<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projeto Troca Humor</title>
    <link rel="stylesheet" href="../static/style.css"/> <!--Isso é sempre padrão-->
    
</head>
<body>
   <div class="principal">
       <div id="nome"><b>Nome:</b></div>
       <div id="idade"><b>Idade:</b></div>
       <div id="profissao"><b>Profissão:</b></div>
   </div>
   <div class="principal-corpo">
            <div id="img1" style="display: none;">
                <img src="../static/img/happy.png" width="200" alt="imagem" />
                <p> O Homer está Feliz</p>
            </div>
            <div id="img2" >
                <img src="../static/img/sad.png" width="200" alt="imagem" />
                <p>O Homer está Triste</p>
            </div>
   </div>
   <div>
    <input type="button" value="troca humor" onClick="mudahumor();" id="botao">
    <!-- <button id="botao">Troca Humor</button> -->
   </div>
</body>
</html>


<script type="text/javascript" src="../static/javaScript.js"></script>


